/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/
/*-- Google Font --*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
/*-- Common Style --*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  line-height: 28px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
  font-family: "Roboto", sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  color: #383838;
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}

h1 {
  line-height: 1;
  font-weight: 800;
}

h2 {
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
}

h5 {
  font-size: 14px;
  line-height: 18px;
}

h6 {
  font-size: 12px;
  line-height: 14px;
}

p:last-child {
  margin-bottom: 0;
}

p {
  font-family: "Roboto", sans-serif;
}

a, button {
  color: inherit;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

a, button, img, input, span {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

*:focus {
  outline: none !important;
}

a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #09c7e0;
}

button, input[type="submit"] {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/*-- 
    - Common Classes
-----------------------------------------*/
.fix {
  overflow: hidden;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

@media only screen and (max-width: 767px) {
  .container {
    width: 450px;
  }
}
@media only screen and (max-width: 479px) {
  .container {
    width: 320px;
  }
}
.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.container-fluid {
  max-width: 1830px;
}

.no-gutters > .col, .no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
  margin: 0;
}

.border-t-one {
  border-top: 1px solid #e5e5e5;
}

/*-- 
    - Background color
-----------------------------------------*/
.bg-white {
  background-color: #ffffff;
}

.bg-light-grey {
  background-color: #f6fafb;
}

.bg-grey {
  background: #F6F6F6;
}

.bg-black {
  background: #1D1D1D;
}

.theme-color {
  background: #09c7e0;
}

/*-- 
    - color
-----------------------------------------*/
.c-blue {
  color: #09c7e0;
}

/*-- 
    - Input Placeholder
-----------------------------------------*/
input:-moz-placeholder, textarea:-moz-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/*-- 
    Scroll Up 
-----------------------------------------*/
#scrollUp {
  width: 40px;
  height: 40px;
  background-color: #09c7e0;
  color: #ffffff;
  right: 20px;
  bottom: 60px;
  text-align: center;
  overflow: hidden;
}
#scrollUp i {
  display: block;
  line-height: 40px;
  font-size: 24px;
}
#scrollUp:hover i {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

/*-- 
    - Main Wrapper
-----------------------------------------*/
.main-wrapper.header-transparent {
  padding: 0 !important;
  margin: 0 !important;
}

/*-- 
    - Section Padding
-------------------------------------*/
.section-ptb {
  padding: 100px 0;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .section-ptb {
    padding: 80px 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-ptb {
    padding: 80px 0;
  }
}
@media only screen and (max-width: 767px) {
  .section-ptb {
    padding: 70px 0;
  }
}
@media only screen and (max-width: 479px) {
  .section-ptb {
    padding: 60px 0;
  }
}

.section-pt {
  padding-top: 100px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .section-pt {
    padding-top: 80px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-pt {
    padding-top: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .section-pt {
    padding-top: 70px;
  }
}
@media only screen and (max-width: 479px) {
  .section-pt {
    padding-top: 60px;
  }
}

.section-pt-70 {
  padding-top: 70px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .section-pt-70 {
    padding-top: 50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-pt-70 {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .section-pt-70 {
    padding-top: 40px;
  }
}
@media only screen and (max-width: 479px) {
  .section-pt-70 {
    padding-top: 30px;
  }
}

.section-pb {
  padding-bottom: 100px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .section-pb {
    padding-bottom: 80px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-pb {
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .section-pb {
    padding-bottom: 70px;
  }
}
@media only screen and (max-width: 479px) {
  .section-pb {
    padding-bottom: 60px;
  }
}

.section-pb-70 {
  padding-bottom: 70px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .section-pb-70 {
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-pb-70 {
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .section-pb-70 {
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 479px) {
  .section-pb-70 {
    padding-bottom: 30px;
  }
}

/*-- Margin top --*/
.mt--5 {
  margin-top: 5px;
}

.mt--10 {
  margin-top: 10px;
}

.mt--15 {
  margin-top: 15px;
}

.mt--20 {
  margin-top: 20px;
}

.mt--25 {
  margin-top: 25px;
}

.mt--30 {
  margin-top: 30px;
}

.mt--35 {
  margin-top: 35px;
}

.mt--40 {
  margin-top: 40px;
}

.mt--45 {
  margin-top: 45px;
}

.mt--50 {
  margin-top: 50px;
}

.mt--55 {
  margin-top: 55px;
}

.mt--60 {
  margin-top: 60px;
}

.mt--65 {
  margin-top: 65px;
}

.mt--70 {
  margin-top: 70px;
}

.mt--75 {
  margin-top: 75px;
}

.mt--80 {
  margin-top: 80px;
}

.mt--85 {
  margin-top: 85px;
}

.mt--90 {
  margin-top: 90px;
}

.mt--95 {
  margin-top: 95px;
}

.mt--100 {
  margin-top: 100px;
}

/*-- Margin Bottom --*/
.mb--5 {
  margin-bottom: 5px;
}

.mb--10 {
  margin-bottom: 10px;
}

.mb--15 {
  margin-bottom: 15px;
}

.mb--20 {
  margin-bottom: 20px;
}

.mb--25 {
  margin-bottom: 25px;
}

.mb--30 {
  margin-bottom: 30px;
}

.mb--35 {
  margin-bottom: 35px;
}

.mb--40 {
  margin-bottom: 40px;
}

.mb--45 {
  margin-bottom: 45px;
}

.mb--50 {
  margin-bottom: 50px;
}

.mb--55 {
  margin-bottom: 55px;
}

.mb--60 {
  margin-bottom: 60px;
}

.mb--65 {
  margin-bottom: 65px;
}

.mb--70 {
  margin-bottom: 70px;
}

.mb--75 {
  margin-bottom: 75px;
}

.mb--80 {
  margin-bottom: 80px;
}

.mb--85 {
  margin-bottom: 85px;
}

.mb--90 {
  margin-bottom: 90px;
}

.mb--95 {
  margin-bottom: 95px;
}

.mb--100 {
  margin-bottom: 100px;
}

/*-- padding top --*/
.pt--5 {
  padding-top: 5px;
}

.pt--10 {
  padding-top: 10px;
}

.pt--15 {
  padding-top: 15px;
}

.pt--20 {
  padding-top: 20px;
}

.pt--25 {
  padding-top: 25px;
}

.pt--30 {
  padding-top: 30px;
}

.pt--35 {
  padding-top: 35px;
}

.pt--40 {
  padding-top: 40px;
}

.pt--45 {
  padding-top: 45px;
}

.pt--50 {
  padding-top: 50px;
}

.pt--55 {
  padding-top: 55px;
}

.pt--60 {
  padding-top: 60px;
}

.pt--65 {
  padding-top: 65px;
}

.pt--70 {
  padding-top: 70px;
}

.pt--75 {
  padding-top: 75px;
}

.pt--80 {
  padding-top: 80px;
}

.pt--85 {
  padding-top: 85px;
}

.pt--90 {
  padding-top: 90px;
}

.pt--95 {
  padding-top: 95px;
}

.pt--100 {
  padding-top: 100px;
}

/*-- padding Bottom --*/
.pb--5 {
  padding-bottom: 5px;
}

.pb--10 {
  padding-bottom: 10px;
}

.pb--15 {
  padding-bottom: 15px;
}

.pb--20 {
  padding-bottom: 20px;
}

.pb--25 {
  padding-bottom: 25px;
}

.pb--30 {
  padding-bottom: 30px;
}

.pb--35 {
  padding-bottom: 35px;
}

.pb--40 {
  padding-bottom: 40px;
}

.pb--45 {
  padding-bottom: 45px;
}

.pb--50 {
  padding-bottom: 50px;
}

.pb--55 {
  padding-bottom: 55px;
}

.pb--60 {
  padding-bottom: 60px;
}

.pb--65 {
  padding-bottom: 65px;
}

.pb--70 {
  padding-bottom: 70px;
}

.pb--75 {
  padding-bottom: 75px;
}

.pb--80 {
  padding-bottom: 80px;
}

.pb--85 {
  padding-bottom: 85px;
}

.pb--90 {
  padding-bottom: 90px;
}

.pb--95 {
  padding-bottom: 95px;
}

.pb--100 {
  padding-bottom: 100px;
}

.plr-40 {
  padding: 0 40px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .plr-40 {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 767px) {
  .plr-40 {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 479px) {
  .plr-40 {
    padding: 15px;
  }
}

.plr-30 {
  padding: 0 30px;
}
@media only screen and (max-width: 767px) {
  .plr-30 {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 479px) {
  .plr-30 {
    padding: 15px;
  }
}

body.box-body {
  background: #F6F6F6;
}

.container-box {
  max-width: 1251px;
  position: relative;
  background: #fff;
  margin: 0 auto;
}

.container-box-inner {
  padding: 40px 0;
  margin: 0 0 -40px 0;
}

/*--
    02. Element
-------------------------*/
/*--
    - Section Title Css
-------------------------------*/
.section-title {
  margin-bottom: 60px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .section-title {
    margin-bottom: 50px;
  }
}
.section-title h2 {
  font-size: 30px;
  margin-top: -4px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 15px;
  color: #09c7e0;
}
.section-title h2 span {
  color: #333;
  font-weight: 300;
}
@media only screen and (max-width: 767px) {
  .section-title h2 {
    font-size: 26px;
  }
}
.section-title p {
  font-size: 16px;
}
.section-title.text-black h2 {
  color: #fff;
}
.section-title.text-black p {
  color: #fff;
}

.about-title h4 {
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 16px;
}
.about-title h2 {
  font-size: 30px;
  margin-top: -4px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 15px;
  color: #09c7e0;
}
.about-title h2 span {
  color: #333;
  font-weight: 300;
}

/*-- 
   03. Mobile Menu Css
-------------------------*/
.mobile-menu {
  float: left;
  width: 100% !important;
  position: relative !important;
}
.mobile-menu .mean-bar {
  position: relative;
  /*---- Mean Nav ----*/
}
.mobile-menu .mean-bar .meanmenu-reveal {
  position: absolute;
  top: -53px;
  color: #000;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile-menu .mean-bar .meanmenu-reveal {
    top: -45px;
  }
}
@media only screen and (max-width: 767px) {
  .mobile-menu .mean-bar .meanmenu-reveal {
    top: -40px;
  }
}
.mobile-menu .mean-bar .meanmenu-reveal span {
  position: relative;
  /*---- Menu Open ----*/
  /*---- Menu Close ----*/
}
.mobile-menu .mean-bar .meanmenu-reveal span.menu-bar {
  height: 2px;
  width: 26px;
  background-color: #000000;
  display: block;
  margin: 8px 0;
}
.mobile-menu .mean-bar .meanmenu-reveal span.menu-bar:before, .mobile-menu .mean-bar .meanmenu-reveal span.menu-bar:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.mobile-menu .mean-bar .meanmenu-reveal span.menu-bar:before {
  top: -8px;
}
.mobile-menu .mean-bar .meanmenu-reveal span.menu-bar:after {
  bottom: -8px;
}
.mobile-menu .mean-bar .meanmenu-reveal span.menu-close {
  height: 2px;
  width: 26px;
  background-color: transparent;
  display: block;
  margin: 8px 0;
}
.mobile-menu .mean-bar .meanmenu-reveal span.menu-close:before, .mobile-menu .mean-bar .meanmenu-reveal span.menu-close:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.mobile-menu .mean-bar .meanmenu-reveal span.menu-close:before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.mobile-menu .mean-bar .meanmenu-reveal span.menu-close:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.mobile-menu .mean-bar .mean-nav {
  background-color: #ddd;
}
.mobile-menu .mean-bar .mean-nav > ul {
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  border-top: 0px solid transparent;
  overflow-x: hidden;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile-menu .mean-bar .mean-nav > ul {
    max-height: 320px;
    overflow-y: auto;
  }
}
@media only screen and (max-width: 479px) {
  .mobile-menu .mean-bar .mean-nav > ul {
    max-height: 320px;
    overflow-y: auto;
  }
}
.mobile-menu .mean-bar .mean-nav > ul li {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  /*---- Sub Menu & Mega Menu ----*/
}
.mobile-menu .mean-bar .mean-nav > ul li a {
  font-size: 13px;
  display: block;
  color: #000000;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  line-height: 44px;
  position: relative;
  border-top: 1px solid #eeeeee;
  padding: 0 40px 0 20px;
  /*---- Menu Expand For Sub Menu ----*/
}
.mobile-menu .mean-bar .mean-nav > ul li a:hover {
  color: #09c7e0;
  padding-left: 25px;
}
.mobile-menu .mean-bar .mean-nav > ul li a.mean-expand {
  border: 1px solid #eeeeee;
  font-family: "Roboto", sans-serif;
  position: absolute;
  right: -1px;
  top: 0;
  font-size: 20px !important;
  color: #fff;
  line-height: 44px;
  height: 46px;
  width: 40px;
  text-align: center;
  padding: 0;
}
.mobile-menu .mean-bar .mean-nav > ul li a.mean-expand.mean-clicked {
  line-height: 40px;
}
.mobile-menu .mean-bar .mean-nav > ul li .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu, .mobile-menu .mean-bar .mean-nav > ul li ul {
  position: static;
  background-color: #222;
  margin: 0;
  padding: 0 !important;
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  display: none;
  float: left;
  width: 100%;
}
.mobile-menu .mean-bar .mean-nav > ul li .sub-menu li, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li, .mobile-menu .mean-bar .mean-nav > ul li ul li {
  padding: 0;
  margin: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  border-right: 0px solid transparent;
  width: 100%;
  display: block !important;
  float: left;
  width: 100%;
}
.mobile-menu .mean-bar .mean-nav > ul li .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li a, .mobile-menu .mean-bar .mean-nav > ul li ul li a {
  font-size: 12px;
}
.mobile-menu .mean-bar .mean-nav > ul li .sub-menu li a:before, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li a:before, .mobile-menu .mean-bar .mean-nav > ul li ul li a:before {
  display: none;
}
.mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li ul li ul {
  background-color: rgba(0, 0, 0, 0.04);
}
.mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul li a, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li ul li ul li a {
  border-top: 1px solid #dddddd;
}
.mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li ul li ul li a.mean-expand {
  border: 1px solid #dddddd;
}
.mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu ul, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul ul, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu ul, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul ul, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu ul, .mobile-menu .mean-bar .mean-nav > ul li ul li ul .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li ul li ul ul {
  background-color: rgba(0, 0, 0, 0.05);
}
.mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu ul li a, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul ul li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu ul li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul ul li a, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu ul li a, .mobile-menu .mean-bar .mean-nav > ul li ul li ul .sub-menu li a, .mobile-menu .mean-bar .mean-nav > ul li ul li ul ul li a {
  border-top: 1px solid #eeeeee;
}
.mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li .sub-menu ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .sub-menu li ul ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li .sub-menu ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li ul ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li ul li .sub-menu ul li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li ul li ul .sub-menu li a.mean-expand, .mobile-menu .mean-bar .mean-nav > ul li ul li ul ul li a.mean-expand {
  border: 1px solid #eeeeee;
}

/*--
    03. Header Css
--------------------------------------*/
.logo {
  margin-top: 25px;
}

.inner-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}

.is-sticky .inner-header {
  position: absolute;
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 999;
  position: fixed;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.is-sticky .logo {
  margin-top: 12px;
}
@media only screen and (max-width: 767px) {
  .is-sticky .logo {
    margin-top: 2px;
  }
}
.is-sticky .main-menu ul li {
  padding: 25px 0;
}

/*--
   - Main Menu Css
-----------------------*/
.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.main-menu ul li {
  margin-right: 25px;
  padding: 40px 0;
  display: inline-block;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .main-menu ul li {
    margin-right: 18px;
  }
}
.main-menu ul li a {
  padding: 0;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main-menu ul li a:before {
  content: "";
  background: #333;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  bottom: -2px;
  left: 0%;
  opacity: 0;
  -ms-filter: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin: 0 2px;
}
.main-menu ul li a:after {
  content: "";
  background: #333;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  bottom: -2px;
  right: 0%;
  opacity: 0;
  -ms-filter: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin: 0 2px;
}
.main-menu ul li:last-child {
  margin-right: 0;
}
.main-menu ul li:hover > a {
  color: #09c7e0;
}
.main-menu ul li:hover > a:before {
  visibility: visible;
  opacity: 1;
  -ms-filter: 1;
  left: 50%;
  background: #09c7e0;
}
.main-menu ul li:hover > a:after {
  visibility: visible;
  opacity: 1;
  -ms-filter: 1;
  right: 50%;
  background: #09c7e0;
}
.main-menu ul li.active a {
  color: #09c7e0;
}
.main-menu ul li.active a:before {
  visibility: visible;
  opacity: 1;
  -ms-filter: 1;
  left: 50%;
  background: #09c7e0;
}
.main-menu ul li.active a:after {
  visibility: visible;
  opacity: 1;
  -ms-filter: 1;
  right: 50%;
  background: #09c7e0;
}

.header-top-2 .main-menu ul li a {
  color: #ffffff;
}
.header-top-2 .main-menu ul li a:before {
  background: #ffffff;
}
.header-top-2 .main-menu ul li a:after {
  background: #ffffff;
}

.is-sticky .header-top-2 {
  background: #09c7e0;
}

/*--
    05. Hero Css
--------------------------------*/
.slider-btn {
  font-size: 18px;
  padding: 10px 28px;
  border-radius: 30px;
  margin: 0 8px;
  font-size: 14px;
}

.theme-btn {
  background: #09c7e0;
  color: #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.theme-btn:hover {
  background: #ffffff;
  color: #222;
}

.white-btn {
  border: 2px solid #09c7e0;
  color: #09c7e0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.white-btn:hover {
  background: #09c7e0;
  border: 2px solid #09c7e0;
  color: #ffffff;
}

.hero-slider-1 .single-slide {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 900px;
  position: relative;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .hero-slider-1 .single-slide {
    height: 750px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-slider-1 .single-slide {
    height: 600px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-slider-1 .single-slide {
    height: 440px;
    background-position: 50% 0;
  }
}
.hero-slider-1 .slider-text-info {
  margin-bottom: 100px;
}
@media only screen and (max-width: 767px) {
  .hero-slider-1 .slider-text-info {
    margin-bottom: 0px;
    margin-top: 40px;
  }
}
.hero-slider-1 .slider-text-info h1 {
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 50px;
}
.hero-slider-1 .slider-text-info h1 span {
  font-weight: 300;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-slider-1 .slider-text-info h1 {
    font-size: 32px;
    line-height: 42px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-slider-1 .slider-text-info h1 {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 34px;
  }
}
.hero-slider-1 .slider-text-info .slider-button {
  margin-top: 30px;
}
.hero-slider-1 .slider-text-info.text-white h4 {
  color: #ffffff;
}
.hero-slider-1 .slider-text-info.text-white h1 {
  color: #ffffff;
}
.hero-slider-1 .slider-text-info.text-white .white-btn {
  border: 2px solid #ffffff;
  color: #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.hero-slider-1 .slider-text-info.text-white .white-btn:hover {
  background: #09c7e0;
  border: 2px solid #09c7e0;
  color: #ffffff;
}

.hero-slider-2 {
  position: relative;
}
.hero-slider-2 .single-slide {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 900px;
  position: relative;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .hero-slider-2 .single-slide {
    height: 800px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .hero-slider-2 .single-slide {
    height: 750px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-slider-2 .single-slide {
    height: 600px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-slider-2 .single-slide {
    height: 440px;
  }
}
.hero-slider-2 .slider-text-info {
  margin-bottom: 70px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-slider-2 .slider-text-info {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-slider-2 .slider-text-info {
    margin-bottom: 0px;
    margin-top: 30px;
  }
}
.hero-slider-2 .slider-text-info h1 {
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 50px;
}
.hero-slider-2 .slider-text-info h1 span {
  font-weight: 300;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-slider-2 .slider-text-info h1 {
    font-size: 32px;
    line-height: 42px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-slider-2 .slider-text-info h1 {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 34px;
  }
}
.hero-slider-2 .slider-text-info .slider-button {
  margin-top: 30px;
}
.hero-slider-2 .slider-text-info .slider-button .slider-btn {
  margin: 0 8px 0 0;
}
.hero-slider-2 .slider-text-info.text-white h4 {
  color: #ffffff;
}
.hero-slider-2 .slider-text-info.text-white h1 {
  color: #ffffff;
}
.hero-slider-2 .slider-text-info.text-white .white-btn {
  border: 2px solid #ffffff;
  color: #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.hero-slider-2 .slider-text-info.text-white .white-btn:hover {
  background: #09c7e0;
  border: 2px solid #09c7e0;
  color: #ffffff;
}

.slider-bottom {
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider-bottom {
    bottom: 15%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .slider-bottom {
    bottom: 15%;
  }
}
@media only screen and (max-width: 767px) {
  .slider-bottom {
    bottom: 6%;
  }
}
.slider-bottom .slider-bottom-inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider-bottom .slider-bottom-inner .social-link ul li {
  display: inline-block;
  margin-right: 20px;
}
.slider-bottom .slider-bottom-inner .social-link ul li a {
  color: #fff;
}
.slider-bottom .slider-bottom-inner .social-link ul li a:hover {
  color: #333;
}

.hero-slider-3 .single-slide {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  position: relative;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .hero-slider-3 .single-slide {
    height: 900px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .hero-slider-3 .single-slide {
    height: 800px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-slider-3 .single-slide {
    height: 650px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-slider-3 .single-slide {
    height: 505px;
  }
}
@media only screen and (max-width: 479px) {
  .hero-slider-3 .single-slide {
    height: 460px;
  }
}
.hero-slider-3 .slider-text-info {
  margin-top: 200px;
  margin-bottom: 110px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .hero-slider-3 .slider-text-info {
    margin-top: 178px;
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-slider-3 .slider-text-info {
    margin-top: 150px;
    margin-bottom: 72px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-slider-3 .slider-text-info {
    margin-top: 125px;
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 479px) {
  .hero-slider-3 .slider-text-info {
    margin-top: 120px;
    margin-bottom: 60px;
  }
}
.hero-slider-3 .slider-text-info h1 {
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 50px;
}
.hero-slider-3 .slider-text-info h1 span {
  font-weight: 300;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-slider-3 .slider-text-info h1 {
    font-size: 32px;
    line-height: 42px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-slider-3 .slider-text-info h1 {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 34px;
  }
}
.hero-slider-3 .slider-text-info .slider-button {
  margin-top: 30px;
}
.hero-slider-3 .slider-text-info.text-white h4 {
  color: #ffffff;
}
.hero-slider-3 .slider-text-info.text-white h1 {
  color: #ffffff;
}

.hero-slider-4 .single-slide {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 900px;
  position: relative;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .hero-slider-4 .single-slide {
    height: 800px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .hero-slider-4 .single-slide {
    height: 750px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-slider-4 .single-slide {
    height: 600px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-slider-4 .single-slide {
    height: 640px;
  }
}
.hero-slider-4 .slider-text-info {
  margin-top: 70px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .hero-slider-4 .slider-text-info {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-slider-4 .slider-text-info {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-slider-4 .slider-text-info {
    margin-bottom: 30px;
    margin-top: 40px;
  }
}
.hero-slider-4 .slider-text-info h1 {
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 50px;
}
.hero-slider-4 .slider-text-info h1 span {
  font-weight: 300;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .hero-slider-4 .slider-text-info h1 {
    font-size: 34px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-slider-4 .slider-text-info h1 {
    font-size: 25px;
    line-height: 42px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-slider-4 .slider-text-info h1 {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 34px;
  }
}
.hero-slider-4 .slider-text-info .slider-button {
  margin-top: 30px;
}
.hero-slider-4 .slider-text-info.text-white h4 {
  color: #ffffff;
}
.hero-slider-4 .slider-text-info.text-white h1 {
  color: #ffffff;
}

/*-
    Social Service Style One
-----------------------------*/
.social-net-1 {
  margin-bottom: 8px;
}
.social-net-1 li {
  margin: 0 10px;
}
.social-net-1 li a {
  color: #fff;
  font-size: 14px;
  display: block;
  background: transparent;
}
.social-net-1 li a.facebook:hover {
  color: #3B5998;
  background: transparent;
}
.social-net-1 li a.twitter:hover {
  color: #00ACEE;
  background: transparent;
}
.social-net-1 li a.google-plus:hover {
  color: #DD4C48;
  background: transparent;
}
.social-net-1 li a.vimeo:hover {
  color: #1AB7EA;
  background: transparent;
}
.social-net-1 li a.dribbble:hover {
  color: #E2324D;
  background: transparent;
}

