


<div class="main-wrapper">
  <!-- header-area start -->
  <header class="header header-sticky">
      <!-- header Top start -->
      <div id="main-menu" class="header-top-2 inner-header">
          <div class="container">
              <div class="row header-top-inner">
                  <div class="col-lg-4">
                      <div class="logo">
                          <a href="index.html"><img src="assets/images/logo/logo.png" alt=""></a>
                      </div>
                  </div>
                  <div class="col-lg-8">
                      <!-- Main Menu Start -->
                      <div class="main-menu">
                          <nav class="main-navigation">
                              <ul>
                                  <li class="active"><a href="#slider">Home</a></li>
                              </ul>
                          </nav>
                      </div>
                      <!-- Main Menu End -->
                  </div>
                  <div class="col">
                      <!-- mobile-menu start -->
                      <div class="mobile-menu d-block d-lg-none"></div>
                      <!-- mobile-menu end -->
                  </div>
              </div>
          </div>
      </div>
      <!-- Header Top end -->
  </header>
  <!-- Header-area end -->
  
  <!-- Hero Slider Start -->
  <div class="hero-slider  hero-slider-2" id="slider">
      <div class="single-slide " style="background-image: url(assets/images/slider/slider1.png)">
          <!-- Hero Content One Start -->
          <div class="hero-content-one container">
              <div class="row">
                  <div class="col-lg-12"> 
                      <div class="slider-text-info text-white">
                          <h4>Ermes</h4>
                          <h1>Analisi in <span>tempo reale per ridurre i tempi di <br>esposizione agli attacchi.</span></h1>
                          <div class="slider-button">
                              <a href="#" class="slider-btn theme-btn">Read More</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Hero Content One End -->
          <div class="slider-bottom">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="slider-bottom-inner">
                              <div class="social-link">
                                  <ul>
                                      <li><a href="#">Facebook</a></li>
                                      <li><a href="#">Linkdin</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Hero Slider End -->
</div>

